<h1>Owner::Owners#show</h1>
<div class="toolbar"><%=link_to "パスワードの変更",[:edit,:owner, :password] %></div>
<div class="toolbar"><%=link_to "会員情報の編集",[:edit,:owner, @owner] %></div>
<table class ="attr">
    <tr>
        <th>ユーザー名</th>
        <td><%= @owner.name%></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @owner.email %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @owner.phone%></td>
    </tr>
    <tr>
        <th>性別</th>
        <td><%= @owner.sex == 1 ? "男" : "女" %></td>
    </tr>
    <tr>
        <th>誕生日</th>
        <td><%= @owner.birthday&.strftime("%Y年%m月%d日") %></td>
    </tr>
</table>
