<table class="attr">
    <tr>
        <th><%= form.label :name, "ユーザ名" %></th>
        <td><%= form.text_field :name %></td>
    </tr>
    <tr>
        <th><%= form.label :email, "メールアドレス" %></th>
        <td><%= form.text_field :email %></td>
    </tr>
    <tr>
        <th><%= form.label :phone, "電話番号" %>
        <td><%= form.text_field :phone %>
    </tr>
    <tr>
        <th>性別</th>
        <td>
            <%= form.radio_button :sex, 1 %>
            <%= form.label :sex_1, "男" %>
            <%= form.radio_button :sex, 2 %>
            <%= form.label :sex_2, "女" %>
        </td>
    </tr>
    <tr>
        <th><%= form.label :birthday, "誕生日",
            for:"member_birthday_li" %></th>
        <td><%= form.date_select :birthday,
            start_year: 1940, end_year: Time.current.year,
            use_month_numbers: true %></td>
    </tr>
    <!--@memberがDBに保存されていない場合-->
    <% if @admin.new_record? %>
        <tr>
            <th><%= form.label :password, "パスワード" %></th>
            <td><%= form.text_field :password %></td>
        </tr>
    <% end %>
</table>