<h1>Salons#show</h1>
<%= link_to "予約", [:new,@salon,:reservation] %>
<%= form_with url: [:new,@salon,:reservation], method: :get do |f| %>
    <%= f.submit "予約可能時間の表示" %>
    <!--都道府県選択-->
    <%= f.collection_select :reserved_course, @salon.courses,:id,:name %>
    <%= f.collection_select :reserved_stylist, @salon.stylists,:id,:name %>
<% end %>