<% @page_title = "会員編集"%>
<h1><%= @page_title %></h1>
<div class="toolbar"><%= link_to "会員の詳細に戻る", [@customer] %></div>
<%= form_for @customer do |form| %>
    <%=render"shared/errors",obj:@customer%>
    <%= render "shared/customer_form",form: form %>
    <div><%= form.submit %></div>
<% end %>