<!DOCTYPE html>
<html>
  <head>
    <title>SalonNS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
  <div id="container">
    <header>
      <%= render "shared/header"%>
    </header>
    <main>
      <% if flash.notice %>
        <p class="notice"><%= flash.notice %>
      <% end %>
      <% if flash.alert %>
        <p class="alert"><%= flash.alert %>
      <% end %>

      <%=yield %>
    </main>
    <footer>
      <%= render "shared/footer"%>
    </footer>
  </div>
  </body>
</html>
